<div class="main-content index-banner1 animate__animated animate__fadeIn animate__fast">
    <div class="section__content section__content--p30 ">
        <div class="container-fluid ">
        <div class="display"><h1 class="text-white text-h1 mx-2">Agenda</h1></div>
            <a routerLink="../golf" class="btn btn-md btn-dark mb-2">Volver</a>                        
            <div class="row mt-5">
                                        <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title"><strong class="capitalizar">Clase: full swing</strong> Fecha: 2021-08-01                                        <span class="badge badge-success float-right mt-1">Próxima</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                <p class="card-text"><strong>Duración:</strong> 60minutos</p>  
                                <p class="card-text"><strong>Horario:</strong> 7</p>
                                </div>
                                <div class="col-md-9">
                                <p class="card-text"><strong>Dirección:</strong> Comercial Shopping Center Juriquilla, Querétaro, MX</p>
                                <p class="card-text"><strong>Teléfono:</strong> (442) 277-8801</p>
                                <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                            <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title"><strong class="capitalizar">Clase: full swing</strong> Fecha: 2021-09-27                                        <span class="badge badge-success float-right mt-1">Próxima</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                <p class="card-text"><strong>Duración:</strong> 60minutos</p>  
                                <p class="card-text"><strong>Horario:</strong> 14</p>
                                </div>
                                <div class="col-md-9">
                                <p class="card-text"><strong>Dirección:</strong> Comercial Shopping Center Juriquilla, Querétaro, MX</p>
                                <p class="card-text"><strong>Teléfono:</strong> (442) 277-8801</p>
                                <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                        </div>
        </div>
        <p>Si desea cancelar una lección debe contactarse a través de (442) 277-8801.</p>
    </div>
</div>