<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo titulos-menu">
        <a href="#">
            <img src="../../../assets/images/Logo-ProGolf-sidebar.png" alt="Cool Admin" width="40%">
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1 ps">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="titulos-menu">
                    <a routerLink="inicio" routerLinkActive="active">
                        <img src="../../../assets/images/icono-inicio.png">
                        <h3 class="titulos">INICIO</h3>
                    </a>
                </li>
                <li class="titulos-menu">
                    <a routerLink="golf">
                        <img src="../../../assets/images/icono-golf.png">
                        <h3 class="titulos">GOLF</h3>
                    </a>
                </li>
                <li class="titulos-menu">
                    <a routerLink="agendar">
                        <img src="../../../assets/images/icono-agendar.png">
                        <h3 class="titulos">AGENDAR</h3>
                    </a>
                </li>
                <li class="titulos-menu">
                    <a routerLink="perfil">
                        <img src="../../../assets/images/icono-perfil.png">
                        <h3 class="titulos">PERFIL</h3>
                    </a>
                </li>
                <li class="titulos-menu">
                    <button class="button-soporte" type="button" data-toggle="modal" data-target="#mediumModal">
                        <img src="../../../assets/images/icono-soporte.png">
                        <h3 class="titulos">SOPORTE</h3>
                    </button>
                </li>
                <li class="titulos-menu">
                    <a (click)="logout()">
                        <img src="../../../assets/images/icono-salir.png">
                        <h3 class="titulos">SALIR</h3>
                    </a>
                </li>
            </ul>
        </nav>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
</aside>