<div class="main-content index-banner3 animate__animated animate__fadeIn animate__fast">
    <div class="section__content section__content--p30 ">
        <div class="container-fluid ">
            <h1 class="text-white text-h1">Golf</h1>
            <div class="row mt-5">
                <div class="col-lg-6">
                    <section class="card">
                    <a routerLink="../agenda-personal">
                        <div class="card-body tipos2">
                            <img src="../../../assets/images/agendar.png">
                            AGENDA
                        </div>
                    </a>
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="card">
                    <a routerLink="../lecciones">
                        <div class="card-body tipos2">
                        <img src="../../../assets/images/juego.png">
                            VER MIS LECCIONES
                        </div>
                    </a>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <section class="card">
                    <a routerLink="../perfil">
                        <div class="card-body tipos2">
                        <img src="../../../assets/images/perfil.png">
                            PERFIL
                        </div>
                    </a>
                    </section>
                </div>
                
            </div>
        </div>
    </div>
</div>